.App {
  text-align: center;
}
.disp{
  background-color: rgb(9, 97, 46);
}
.direct{
  background-color: black;
}
.pain{
  background-color: #ff6600;
}
.header{
  display: flex;
  flex-direction: column;
}
.main{
  background-color: rgb(117, 115, 115);
}
.title{
  color: red;
}
p{
  color: white;
}
a{
  color: white;
}
.zelda{
  background-color: black;
  color: white;
}
.meme{
  background-color: #ff6600;
  color: black;
  justify-content: space-evenly;
}
.drop{
  background-color: #0055ff;
  display: flex;
}
.side{
  background-color: #0055ff;
  display: flex;
}
.images{
  height: 150px;
}
.feeter{
  background-color: #0055ff;
}