@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: face;
  src: url('Valorant\ Font.ttf');
}
@media screen and (max-width: 1880px){
  .App {
    text-align: center;
  }
  .broken:hover{
    text-shadow: red -3px 0, cyan 3px 0;
  }
  a:hover{
    text-shadow: red -3px 0, cyan 3px 0;
  }
  .direct{
    background-color: black;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .main{
    background-color: rgb(0, 0, 0);
  }
  .title{
    color: red;
  }
  p{
    color: white;
  }
  a{
    color: white;
  }
  .dir{
    position: fixed;
    background-color: black;
    height: 7vh;
    font-size: medium;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .pain{
    font-family: 'temp';
  }
  .dojo{
    color: blue;
  }
  .projx{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
  }
  .nice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .image1{
    height: 150px;
    width: 300px;
    position: relative;
    border-radius: 10px;
  }
  .image2{
    width: 150px;
    height: 300px;
    position: relative;
    border-radius: 10px;
  }
  .image3{
    height: 150px;
    width: 300px;
    position: relative;
    border-radius: 10px;
  }
  .manny{
    font-family: 'face';
    color: red;
  }
  .feeter{
    background-color: #0055ff;
  }
  .rasp{
    width: 90%;
    border: solid white 3px;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif);
  }
  .rasp, h3{
    color: white;
    font-family: 'face';
  }
  .snail{
    width: 90%;
    border: solid red 3px;
    align-items: center;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif);
    margin: auto;
  }
  .web{
    width: 90%;
    border: solid blue 3px;
    background-image: url(https://i.pinimg.com/originals/8e/14/55/8e145599d4847e339828787162952035.gif);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .lego{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 990px){
  .App {
    text-align: center;
  }
  .direct{
    background-color: black;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .main{
    background-color: rgb(3, 59, 59)
  }
  .title{
    color: red;
  }
  p{
    color: white;
  }
  a{
    color: white;
  }
  .dir{
    position: fixed;
    background-color: black;
    height: 8vh;
    font-size: medium;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Form{
    height: 50vh;
  }
  .pain{
    font-family: "spacetime";
  }
  .nice{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image1{
    height: 150px;
    width: 300px;
  }
  .image2{
    rotate: 270deg;
    width: 150px;
    height: 300px;
  }
  .manny{
    font-family: 'face';
    color: red;
    text-shadow: #0055ff
  }
  .feeter{
    background-color: #0055ff;
  }
  .broken, a:hover{
    text-shadow: red -3px 0, cyan 3px 0;
  }
  
}
@media screen and (max-width: 600px){
  .manny{
    color: red;
  }
  .pain{
    color: white;
  }
  .broken:hover{
    text-shadow: red -3px 0, cyan 3px 0;
  }
}