@media screen and (max-width: 1880px){
    .meme{
        background-color: #ff6600;
        color: black;
        justify-content: space-evenly;
      }
      .drop{
        background-color: #0055ff;
        display: flex;
      }
      .side{
        background-color: #0055ff;
        display: flex;
      }
  }