.App {
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.header{
  display: flex;

}
/* .nav1{
  background-color: #7BB5CB;
  display: flex;
  justify-content: center;
}
.nav1 p{
  font-weight: 12px;
}
.nav2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} */
.nav1 {
  background-color: #7bb5cb;
  display: flex;
  justify-content: center;

}

.nav1 p {
  font-size: 12px;
  font-weight: bold;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.nav3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  
}
.nav3 p {
  font-size: 13px;
  font-weight: bold;
}
.sale1{
  background-image: url('https://www.honest.com/dw/image/v2/BDBW_PRD/on/demandware.static/-/Library-Sites-HC-content/default/dw1863d39a/2023/homepage/full-width/1023_HolidayBuildYourOwnGift_HDC_Hero_Desktop_NoCopy.jpg?sw=1440');
  background-size: 105%;
}

.sale1Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.getStarted{
  background-color: black;
  padding: 1px 20px;
}

.getStarted h4{
  color: aliceblue;
}
.shopGifts{
  border: solid black;
  padding: 1px 20px;
  margin-left: 15px;
}

.sale1Texts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 140px;
}

.shopNow{
  background-color: black;
  padding: 10px 40px;
  margin: 15px;
  color: aliceblue;
}

.shopNow:hover{
  background-color: rgb(255, 255, 255);
  padding: 10px 40px;
  margin: 15px;
  color: rgb(0, 0, 0);
}

.holidayGifts{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  margin-left: 120px;
  margin-right: 120px;
}

.bestSellers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 100px;
}

.bestSellIndiv{
  position: relative;
  /* background-color: aliceblue; */

}

.bestSellImg{
  width: 280px;
  z-index: 0;
}

.bestSellp{
  background-color: rgb(255, 215, 199);
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 1;
}

.babyAd{
  background-color: #e3d6bd;
  display: flex;
  align-items: center;
}


.babyImg{
  position: relative;
  z-index: 0;
  
}

.babyAdInfo{
  z-index: 1;
  position: absolute;
  left: 80%;
  transform: translateY(100px);
  transform: translateX(-200px);
  font-size: 20px;
}

.yourFavesBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 90px;
}


.faveBtn{
  background-color: #7bb5cb;
  padding: 2px 55px;
}

.babyAd2{
  background: conic-gradient(#7bb5cb 0deg 180deg, #e3d6bd 180deg 360deg);
  display: flex;
  align-items: center;
}


.babyImg2{
  position: relative;
  z-index: 0;
  
}

.babyAdInfo2{
  z-index: 1;
  position: absolute;
  left: 80%;
  transform: translateY(100px);
  transform: translateX(-200px);
  color: white;
  font-size: 24px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid black 1px;
}

.logo{
  width: 10%;
  height: 10%;
  display: flex;
  padding: 15px;
}

.dir{
  display: flex;
  justify-content: space-evenly;
}
.serch{
  height: 10px;
}

/* Wipe stuff */
.allWipepage {
  text-align: center;
  margin: 3%;
}

.wipeTag{
  background-color: #ccc;
  margin-right: 45%;
  font-weight: bold;
}

.wipePrice{
  font-weight: bold;
}

.wipeComment{
color: #605e5e;
}

.allWipepage  ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.allWipepage  li {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}



.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.wipeImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out; 
}

.hoverImage {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out; 
}


.imageContainer:hover .wipeImage {
  opacity: 0;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}
/* Baby Stuff */
.grid {
  text-align: center;
  margin: 3%;
}

.babyTag{
  background-color: #ccc;
  margin-right: 45%;
  font-weight: bold;
}

.babyPrice{
  font-weight: bold;
}

.babyComment{
color: #605e5e;
}

.grid  ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.grid  li {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}



.imageContainer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.babyImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out; 
}

.hoverImage {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out; 
}


.imageContainer:hover .wipeImage {
  opacity: 0;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}
/*Page stuff */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
